<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-localstorage/core-localstorage.html">

<script src="../../bower_components/chance/chance.js"></script>
<script src="../../bower_components/lodash/dist/lodash.min.js"></script>

<polymer-element name="notes-model" attributes="notes">
  <template>
    <link rel="stylesheet" href="notes-model.css">
    <core-localstorage id="storage" name="notes-polymer" value="{{notes}}"></core-localstorage>
  </template>
  <script src="notes-model.js"></script>
</polymer-element>
