<link rel="import" href="../../bower_components/polymer/polymer.html">

<script src="../../bower_components/highlightjs/highlight.pack.js"></script>

<polymer-element name="highlight-node" attributes="text language">
  <template>
    <link rel="stylesheet" href="highlight-node.css">
    <link rel="stylesheet" href="../../bower_components/highlightjs/styles/default.css">

    <pre><code class="language-{{language}}" id="renderResult"></code></pre>
  </template>

  <script src="highlight-node.js"></script>
</polymer-element>
