:host {
  display: block;
}

core-menu {
  color: firebrick;
  margin: 10px 0 0 0;
}

core-menu > paper-item {
  transition: all 300ms ease-in-out;
}

paper-item a {
  text-decoration: none;
  color: currentcolor;
  margin-left: 5px;
}
