<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../bower_components/core-menu/core-menu.html">
<link rel="import" href="../../bower_components/core-icon/core-icon.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../../bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/flatiron-director/flatiron-director.html">

<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../notes-model/notes-model.html">
<link rel="import" href="../notes-pages/notes-pages.html">
<link rel="import" href="../note-editor/note-editor.html">

<script src="../../bower_components/lodash/dist/lodash.min.js"></script>

<polymer-element name="notes-app" attributes="">
  <template>
    <link rel="stylesheet" href="notes-app.css">
    <notes-model id="storage" notes="{{notes}}"></notes-model>
    <flatiron-director route="{{route}}" autohash hidden></flatiron-director>

    <core-scaffold mode="waterfall">
      <core-header-panel navigation flex mode="seamed">

        <core-toolbar id="sidebar-header">
          <div flex>
            <h2>Notes ಠ_ಠ</h2>
          </div>
          <core-icon-button icon="add-box" on-tap="{{addNote}}"></core-icon-button>
        </core-toolbar>

        <core-menu valueattr="hash" selected="{{route}}">

          <template repeat="{{note in notes}}">
            <paper-item hash="{{note.hash}}" noink on-hold="{{removeNote}}">
              <core-icon icon="label{{route != note.hash ? '-outline' : ''}}"></core-icon>
              <a href="#{{note.hash}}">{{note.title}}</a>
            </paper-item>
          </template>

        </core-menu>

      </core-header-panel>

      <template if="{{currentNote}}">
        <div tool layout flex start-justified>
          <template if="{{currentCell}}">
            <paper-icon-button icon="clear" noink on-hold="{{removeCell}}"></paper-icon-button>

            <paper-menu-button>
              <paper-icon-button icon="extension"></paper-icon-button>
              <paper-dropdown class="dropdown">
                <core-menu class="menu" selected="{{currentCell.type}}" valueattr="type">
                  <paper-item type="markdown">Markdown</paper-item>
                  <paper-item type="latex">Latex</paper-item>
                  <paper-item type="code">Code</paper-item>
                </core-menu>
              </paper-dropdown>
            </paper-menu-button>

            <template if="{{currentCell.type == 'code'}}">
              <paper-menu-button>
                <paper-icon-button icon="language"></paper-icon-button>
                <paper-dropdown class="dropdown">
                  <core-menu class="menu" selected="{{currentCell.language}}" valueattr="language">
                    <template repeat="{{lang in languages}}">
                      <paper-item language="{{lang}}">{{lang | toUpperCase}}</paper-item>
                    </template>
                  </core-menu>
                </paper-dropdown>
              </paper-menu-button>
            </template>

          </template>
        </div>

        <div tool horizontal layout flex center-justified>
        </div>

        <div tool horizontal layout flex end-justified>
          <paper-spinner tool class="gray" active?={{saving}}></paper-spinner>
          <core-icon-button tool icon="save" on-tap="{{save}}"></core-icon-button>
        </div>
      </template>

      <notes-pages route="{{route}}" notes="{{notes}}"></notes-pages>

    </core-scaffold>

  </template>

  <script src="notes-app.js"></script>
</polymer-element>
