<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/slide-from-right.html">

<polymer-element name="notes-pages" attributes="route notes">
  <template>
    <link rel="stylesheet" href="notes-pages.css">

    <core-animated-pages valueattr="hash" selected="{{route}}" transitions="slide-from-right">
      <template repeat="{{note in notes}}">
        <section hash="{{note.hash}}" layout vertical fit>
          <note-editor note="{{note}}"></note-editor>
        </section>
      </template>
    </core-animated-pages>

  </template>
  <script src="notes-pages.js"></script>
</polymer-element>
