<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../highlight-node/highlight-node.html">

<polymer-element name="x-highlight" attributes="cell">
  <template>
    <link rel="stylesheet" href="x-highlight.css">

    <div layout horizontal flex>
      <div class="editor" flex 1>
        <paper-input-decorator label="Code" floatinglabel layout vertical>
          <paper-autogrow-textarea id="cellBody">
            <textarea id="cellBodyTextarea" placeholder="Code - {{cell.language}}" value="{{cell.body}}"></textarea>
          </paper-autogrow-textarea>
        </paper-input-decorator>
      </div>

      <div class="preview" flex 1>
        <highlight-node language="{{cell.language}}" text="{{cell.body}}"></highlight-node>
      </div>
    </div>

  </template>

  <script src="x-highlight.js"></script>
</polymer-element>
