<link rel="import" href="../../bower_components/polymer/polymer.html">

<script src="katex/katex.min.js"></script>

<polymer-element name="katex-node" attributes="text">
  <template>
    <link rel="stylesheet" href="katex-node.css">
    <link rel="stylesheet" href="katex/katex.min.css">

    <div id="renderResult"></div>
  </template>

  <script src="katex-node.js"></script>
</polymer-element>
