<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-autogrow-textarea.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<polymer-element name="x-markdown" attributes="cell">
  <template>
    <link rel="stylesheet" href="x-markdown.css">

    <div layout horizontal flex>
      <div class="editor" flex 1>
        <paper-input-decorator label="Latex" floatinglabel layout vertical>
          <paper-autogrow-textarea id="cellBody">
            <textarea id="cellBodyTextarea" placeholder="Latex" value="{{cell.body}}"></textarea>
          </paper-autogrow-textarea>
        </paper-input-decorator>
      </div>

      <div class="preview" flex 1>
        <marked-element text="{{cell.body}}"></marked-element>
      </div>

    </div>
  </template>

  <script src="x-markdown.js"></script>
</polymer-element>
