<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../x-markdown/x-markdown.html">
<link rel="import" href="../x-latex/x-latex.html">
<link rel="import" href="../x-highlight/x-highlight.html">

<polymer-element name="editor-preview" attributes="note cell">
  <template>
    <link rel="stylesheet" href="editor-preview.css">

    <div layout horizontal flex>
      <template if="{{cell.type == 'markdown'}}">
        <x-markdown flex cell="{{cell}}"></x-markdown>
      </template>

      <template if="{{cell.type == 'latex'}}">
        <x-latex flex cell="{{cell}}"></x-latex>
      </template>

      <template if="{{cell.type == 'code'}}">
        <x-highlight flex cell="{{cell}}"></x-highlight>
      </template>
    </div>

  </template>

  <script src="editor-preview.js"></script>
</polymer-element>
