<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-autogrow-textarea.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/core-input/core-input.html">
<link rel="import" href="../../bower_components/core-selector/core-selector.html">

<link rel="import" href="../editor-preview/editor-preview.html">

<polymer-element name="note-editor" attributes="note">
  <template>
    <link rel="stylesheet" href="note-editor.css">

    <div layout horizontal flex>
      <paper-input-decorator flex 1 label="Title" floatinglabel layout vertical>
        <input is="core-input" placeholder="Title" value="{{note.title}}">
      </paper-input-decorator>

      <paper-input-decorator flex 1 label="Tags" floatinglabel layout vertical>
        <input is="core-input" placeholder="Tags" value="{{note.tags}}">
      </paper-input-decorator>
    </div>

    <core-selector selected="{{currentCellIndex}}">
      <template repeat="{{cell in note.cells}}">
        <editor-preview class="cell" note="{{note}}" cell="{{cell}}"></editor-preview>
      </template>
    </core-selector>

    <div class="bottom-tools" layout horizontal flex start-justified>
      <paper-fab icon="add" on-tap="{{addCell}}" mini></paper-fab>
    </div>

  </template>

  <script src="note-editor.js"></script>
</polymer-element>
