<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-autogrow-textarea.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-decorator.html">

<link rel="import" href="../katex-node/katex-node.html">

<polymer-element name="x-latex" attributes="cell">
  <template>
    <link rel="stylesheet" href="x-latex.css">

    <div layout horizontal flex>
      <div class="editor" flex 1>
        <paper-input-decorator label="Latex" floatinglabel layout vertical>
          <paper-autogrow-textarea id="cellBody">
            <textarea id="cellBodyTextarea" placeholder="Latex" value="{{cell.body}}"></textarea>
          </paper-autogrow-textarea>
        </paper-input-decorator>
      </div>

      <div class="preview" flex 1>
        <katex-node text="{{cell.body}}"></katex-node>
      </div>
    </div>

  </template>

  <script src="x-latex.js"></script>
</polymer-element>
