body /deep/ core-toolbar {
  color: black;
  background-color: firebrick;
}

body /deep/ paper-spinner.gray::shadow .circle {
  border-color: rgb(44, 44, 44);
}

body /deep/ #mirror {
  color: transparent;
  font-size: 12px;
  font-family: monospace;
}

body /deep/ textarea {
  font-size: 12px !important;
  font-family: monospace !important;
  resize: vertical !important;
}

body /deep/ paper-input-decorator /deep/ .label-text,
body /deep/ paper-input-decorator /deep/ .error {
    /* inline label,  floating label, error message and error icon color when the input is unfocused */
    color: #757575;
}

body /deep/ paper-input-decorator /deep/ ::-webkit-input-placeholder {
    /* platform specific rules for placeholder text */
    color: #757575;
}
body /deep/ paper-input-decorator /deep/ ::-moz-placeholder {
    color: #757575;
}
body /deep/ paper-input-decorator /deep/ :-ms-input-placeholder {
    color: #757575;
}

body /deep/ paper-input-decorator /deep/ .unfocused-underline {
    /* line color when the input is unfocused */
    background-color: #757575;
}

body /deep/ paper-input-decorator[focused] /deep/ .floated-label .label-text {
    /* floating label color when the input is focused */
    color: firebrick;
}

body /deep/ paper-input-decorator /deep/ .focused-underline {
    /* line color when the input is focused */
    background-color: firebrick;
}

body /deep/ paper-input-decorator /deep/ .cursor {
    /* cursor color during the focus transition */
    background-color: firebrick;
}

body /deep/ paper-input-decorator.invalid[focused] /deep/ .floated-label .label-text,
body /deep/ paper-input-decorator[focused] /deep/ .error {
    /* floating label, error message nad error icon color when the input is invalid and focused */
    color: salmon;
}

body /deep/ paper-input-decorator.invalid /deep/ .focused-underline,
body /deep/ paper-input-decorator.invalid /deep/ .cursor {
    /* line and cursor color when the input is invalid and focused */
    background-color: salmon;
}
